#system-messages {
  position: fixed;
  z-index: 11;
  width: 100%;
  text-align: center;
  top: 50%;
  color: white;

  div {
    color: white;
    @extend %lydianmtstd;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
}